<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TomaFoodRestaurant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      
    </providers>
  </entityFramework>
  <system.data>
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
    </provider>
    
  </system.data>
  <system.net>
    <defaultProxy enabled="false">
      <proxy />
      <bypasslist />
      <module />
    </defaultProxy>
  </system.net>
  <userSettings>
    <TomaFoodRestaurant.Properties.Settings>
      <setting name="countOpenTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="userPrePassword" serializeAs="String">
        <value />
      </setting>
      <setting name="userPreName" serializeAs="String">
        <value />
      </setting>
      <setting name="openLimit" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="ExpiryLimit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="checkOnlineOrder" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="callerID" serializeAs="String">
        <value>AD101</value>
      </setting>
      <setting name="pcVersion" serializeAs="String">
        <value>MYSQL</value>
      </setting>
      <setting name="cashDrawer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="connString" serializeAs="String">
        <value />
      </setting>
      <setting name="ipaddress" serializeAs="String">
        <value />
      </setting>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="database" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="StripeAPI" serializeAs="String">
        <value>NONE</value>
      </setting>
      <setting name="PublishAPI" serializeAs="String">
        <value />
      </setting>
      <setting name="checkReservation" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CardStatus" serializeAs="String">
        <value>Hidden</value>
      </setting>
      <setting name="ItemNameChanged" serializeAs="String">
        <value>ReceiptName</value>
      </setting>
      <setting name="OnlineOrder" serializeAs="String">
        <value>Deactive</value>
      </setting>
      <setting name="TposVersion" serializeAs="String">
        <value>Responsive</value>
      </setting>
      <setting name="DbType" serializeAs="String">
        <value>MYSQL</value>
      </setting>
      <setting name="deviceType" serializeAs="String">
        <value>SERVER</value>
      </setting>
      <setting name="serverIp" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="backend" serializeAs="String">
        <value>https://tomafood.net/</value>
      </setting>
      <setting name="requirdCustomTotal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="isEnableAutoDiscount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="requirdDiscountPassword" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="showkitichineSection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="showcouponsection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enableWebPrint" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enableDelcharge" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="accountId" serializeAs="String">
        <value />
      </setting>
      <setting name="applicationFees" serializeAs="String">
        <value>1.2</value>
      </setting>
      <setting name="feeType" serializeAs="String">
        <value>percent</value>
      </setting>
      <setting name="kitchenEmptyLine" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="stripeEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="appLanguage" serializeAs="String">
        <value>ar-SA</value>
      </setting>
      <setting name="autoPrint" serializeAs="String">
        <value />
      </setting>
      <setting name="autoPrintLocation" serializeAs="String">
        <value />
      </setting>
    </TomaFoodRestaurant.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.112.1" newVersion="1.0.112.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.20.0" newVersion="8.0.20.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.11.4.0" newVersion="3.11.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LiteDB" publicKeyToken="4ee40123013c9f27" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.7.0" newVersion="5.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
